<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 配置数据源 交给Spring -->
    <typeAliases>
        <package name="com.ximao.infinitelyflu.pojo"/>
    </typeAliases>

    <mappers>
        <mapper class="com.ximao.infinitelyflu.dao.UserMapper"/>
        <mapper class="com.ximao.infinitelyflu.dao.TemplateMapper" />
    </mappers>

</configuration>